/* h2 {
    color: #5FCFFC;
    background-color: rgb(50, 100, 200);
}

button {
    color: magenta;
    background-color: cyan;
}

p {
    color: olive;
    background: orange;
} */

h1 {
    text-align: center;
    font-weight: 400;
    text-decoration: #f23129 underline wavy;
    letter-spacing: 10px;
    font-size: 80px;
    font-family: monospace;
}

a {
    text-decoration: none;
}

p {
    line-height: 2;
}