img {
    width: 30%;
    margin: calc(10%/6);
}

nav {
    font-family: 'Raleway', sans-serif;
    margin-left: calc(10%/6);
    border-bottom: 2px solid grey;
    width: 30%;
    padding: 1.2em 0;
    font-size: 1.5em;
    text-transform: uppercase;
}