div {
    width: 600px;
    height: 300px;
    background-color: aqua;
}

#one {
    background-color: #ffc8dd;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    /* box-sizing: border-box; */
}

#two {
    background-color: #cdb4db;
    border: 3px solid #ef233c;
    border-left-width: 8px;
}

#three {
    background-color: #ffafcc;
    border: 10px dotted #e76f51;
    box-sizing: border-box;
}

button {
    padding: 10px 20px 30px 40px;
}

h1 {
    margin: 0;
}

span {
    margin-left: 30px;
}